# Configurações do Firebird
FIREBIRD_HOST=localhost
FIREBIRD_PORT=3050
FIREBIRD_USER=sysdba
FIREBIRD_PASSWORD=masterkey

# Configuração do MongoDB
MONGO_URI=mongodb://localhost:27017/millenium

# Configurações de migração
BATCH_SIZE=25000  # Tamanho padrão do lote
LARGE_TABLE_BATCH_SIZE=1000  # Tamanho do lote para tabelas grandes
